*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    height: 500px;
    width: 500px;
}
@media screen and (width < 500px){
   img{
    width: 50%;
   } 
}
@media screen and (width >=500px) {
    img {
        width: 100%;
    }
}